*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    color: white;
    font-family: system-ui;
}

main,section{
    height: 100%;
    width:100%
}

section{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap:20px;
    position: relative;
    
}

.board{
    border: 1px solid rgb(255, 255, 255);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
}

section .infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info{
    border: 1px solid ;
    padding: 8px 16px;
    border-radius: 8px;
}

.block{
    border: 1px solid;
    border-radius: 50%;
}

.fill{
    background-color: #16A34A;
}

.head{
    background-color: #4ADE80;
}

.food{
    background-color: #FFB800;
}

.btn{
    padding: 7px 15px;
    border: none;
    font-size: 17px;
    border-radius: 15px;
    cursor: pointer;
}

.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #35353587;
    backdrop-filter: blur(10px);
}

.modal .game-over, .modal .start-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.modal .game-over h3, .modal .start-game h3{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1.4px;
    font-family: "Chelsea Market";
    color: #39FF14;
    text-shadow: 0 0 10px rgba(57,255,20,0.5);
 
}

.modal .game-over{
    display: none;
} 

.game-difficulty{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #35353587;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    display: none;
}

.game-difficulty h2{
    font-size: 35px;
    color: #16A34A;
}

.difficulty-btns{
    display: flex;
    gap: 20px;
} 

@media screen and (max-width:600px){
    section{
        padding: 7px;
        gap: 12px;
    }

    .info{
        font-size: 15px;
        font-family: Arial;
    }

    .board{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(40px,1fr));
        grid-template-rows: repeat(auto-fill,minmax(40px,1fr));
    }


}